<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
    <Document name="intersystems-iris-torus.ZPM">
        <Module>
            <Name>intersystems-iris-torus</Name>
            <Version>1.1.0</Version>
            <Packaging>module</Packaging>
            <SourcesRoot>src/iris</SourcesRoot>
            <Resource Name="dc.torus.PKG"/>
        </Module>
    </Document>
</Export>